{% extends 'new/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Applicant Information</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'users:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Applicant information</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if applicant.gender == 'M' %}
                            <img src="https://cdn-icons-png.flaticon.com/512/1754/1754644.png"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {% else %}
                            <img src="https://cdn-icons-png.flaticon.com/512/5231/5231019.png"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        {% endif %}
                        
                        <h5 class="my-3">{{ applicant.first_name }}
                            {{ applicant.last_name }}</h5>
                        <p class="text-muted mb-1">{{applicant.gender}}</p>
                        <p class="text-muted mb-4">{{applicant.dob}}</p>
                        
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <a href="{{applicant.linkedin}}" target="_blank" class="mb-0">Linked In</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <a href="{{applicant.portfolio_links}}" target="_blank" class="mb-0">Portfolio Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ applicant.first_name }}
                                    {{ applicant.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{applicant.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{applicant.phone_no}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{applicant.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Cover letter</span> 
                                </p>
                                <p>{{applicant.cover_letter}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Resume</span> </p>
                                <a href="{{ application.resume.url }}" class="btn btn-primary">Download Resume</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}