{% extends 'new/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Job detail</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'users:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Job detail</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>


  
  <section class="site-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <div class="d-flex align-items-center">
            <div class="border p-2 d-inline-block mr-3 rounded">
              <img src="{{job.featured_image.url}}" alt="Image">
            </div>
            <div>
              <h2>{{job.job_title}}</h2>
              <div>
                <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{job.company_name}}</span>
                <span class="m-2"><span class="icon-room mr-2"></span>{{job.location}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            
            <div class="col-6">
              <a href="{% url 'users:apply' job_id=job.id %}" class="btn btn-block btn-primary btn-md">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="mb-5">
            <figure class="mb-5"><img src="{{job.logo.url}}" alt="Image" class="img-fluid rounded"></figure>
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job Description</h3>
            <p>{{job.job_description|safe}}</p>
            
          </div>
         

          <div class="mb-5">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>About {{job.company_name}}</h3>
            <p>{{job.company_description|safe}}</p>
          </div>

          <div class="row mb-5">
            <div class="col-6">
              <a href="{% url 'users:apply' job_id=job.id %}" class="btn btn-block btn-primary btn-md">Apply Now</a>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="bg-light p-3 border rounded mb-4">
            <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
            <ul class="list-unstyled pl-3 mb-0">
              <li class="mb-2"><strong class="text-black">Published on:</strong> {{job.created_at}}</li>
              <li class="mb-2"><strong class="text-black">Industry:</strong> {{job.job_type}}</li>
              <li class="mb-2"><strong class="text-black">Experience:</strong> {{job.experience_min}} to {{job.experience_max}} year(s)</li>
              <li class="mb-2"><strong class="text-black">Job Location:</strong> {{job.location}}</li>
              <li class="mb-2"><strong class="text-black">Salary:</strong> {{job.salary_min}} - {{job.salary_max}}</li>
              <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{job.last_date_of_application}}</li>
            </ul>
          </div>

         

        </div>
      </div>
    </div>
  </section>


{% endblock %}