{% extends 'new/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}

<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Seach result for {{query}}</h1>
          <div class="custom-breadcrumbs">
            <a href="{% url 'users:home' %}">Home</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>Search</strong></span>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
  
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Jobs Matching {{query}}</h2>
        </div>
      </div>
      
      {% if jobs %}
        <ul class="job-listings mb-5">
         
          {% for job in jobs %}
          
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
            
            <a href="{% url 'users:job_details' job_id=job.id %}"></a>
            <div class="job-listing-logo">
              <img src="{{job.logo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>
  
            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2>{{job.job_title}}</h2>
                <strong>{{ job.company_name }}</strong>
              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> {{ job.location }}
                
              </div>
              <div class="job-listing-meta">
                <span class="badge badge-danger">{{ job.job_type }}</span>
              </div>
            </div>
      
          </li> 
          {% endfor %} 
        </ul>
  
      {% else %}
        <h2>No jobs found!</h2>
      {% endif %}
  
    </div>
  </section>
{% endblock %}